body:after {
    display: none;
    content: "small";
}

@media (min-width: 600px) {
    body:after {
        content: "medium";
    }
}

@media (min-width: 1000px) {
    body:after {
        content: "large";
    }
}
